.h1 {
   text-align: center;
   color: green;
}
  
.scroll-btn {
   position: fixed; 
   font-size: 1.5rem;
   z-index: 1;
   color: green;
   right: 5%;
   bottom: 5%;
   background-color: transparent;
   border: none;
   &:hover, &:focus{
    background-color: transparent;
    color: var(--primary_dark);
    outline: none;
   }

}