.h1 {
   text-align: center;
   color: green;
}
  
.scroll-btn {
   position: fixed; 
   display: flex;
   font-size: 1.5rem;
   z-index: 1;
   color: green;
   right: 5%;
   bottom: 5%;
   background-color: #000000;
   border: none;
   &:hover, &:focus{
    outline: none;
    background-color: #000000;
   }

}