.experience {
    .container {
        .row {
            padding: 0;
            margin: 0;

            .col-md-6 {
                padding: 0;
                margin: 0;
            }
        }
        .row:nth-child(odd) {
            .col-md-6 {
            box-shadow: 4px 0 0 0 grey;
            }
        }
        .row:nth-child(even) {
            .col-md-6 {
            border-left: 4px solid grey;
            }
        }
    @media(max-width:768px) {
        .row:nth-child(odd) {
                .col-md-6 {
                    box-shadow: 0 0 0 0 grey;
                    border-left: 4px solid grey;

                    .marker-right {
                        margin-right: auto;
                        transform: translateX(-10px);
                        margin-left: 0;
                    }
                }
            }
        }
    }
}