.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global Styles */

:root {
  --primary-white: #fff;
  --primary-red: red;
  --primary-dark: rgba(255,255,255,0)
}


/****************Navbar*********************/
.logo {
  width: 7.25rem;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

/****************Nav link*********************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  border-top: 0.175rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.175rem solid var(--primary-red);
  /* not sure about why the active state is like this come back */
}

.navbar-nav > li > a:hover {
  border-bottom: 0.175rem solid var(--primary-red);
  /* add more annimation here */
}

.navbar-brand {
  max-width: 17.25rem;
  height: 8rem;
}