/* Global Styles */

:root {
  --primary-white: #ffffff;
  --primary-red: #ef4035;
  --primary-dark: #212529;
  --primary-hover-red: #f33501;
  --primary-light-grey: #f4f4f4;
  --primary-slate-grey: #bbbbbb;
  --primary-dark-grey: #444444;
  --primary-black: #000000;
}

body {
  font-family: "Roboto Condensed" , sans-serif;
}

/****************Navbar*********************/
.logo {
  width: 7.25rem;
}

nav {
  z-index: 2;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

/****************Nav link*********************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  border-top: 0.175rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.175rem solid var(--primary-red);
  /* not sure about why the active state is like this come back */
}

.navbar-nav > li > a:hover {
  border-bottom: 0.175rem solid var(--primary-red);
  /* add more annimation here */
}

.navbar-brand {
  max-width: 17.25rem;
  height: 8rem;
}



/*************Header component*************/
.header-wrapper {
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/src/assets/header-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.main-info {
  display: flex;
  position: absolute;
  flex-direction: column;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" , sans-serif;
  z-index: 4;
}

.box-set {
  border: 3px var(--primary-red) solid;
  background-color: black;
  border-radius: 10px;
  padding: 1em;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));

}
.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

/*******Typed text*********/
.typed-text {
  font-size: 2rem;
  color: var(--primary-red);
}

@media(max-width:768px) {
  .typed-text {
    font-size: 1.7rem;
  }
}
/*******header main offer button*********/ 

.btn-main-offer {
  border: 3px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  transition: 0.3s;
  z-index: 3;
  text-decoration: none;
  background-color: black;
}

.btn-main-offer:hover {
  color: var(--primary-red);
  border: 3px solid var(--primary-white);
  transition: 0.3s;
  z-index: 3;
}

/* Particles */

.particles-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#tsparticles canvas {
  position: absolute !important;
}


@media(max-width:768px) {
  .particles-canvas {
    display:none;
  }
}

/* About me */
.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile-img {
  width: 20rem;
  padding: 0.3rem;
  border: 1px solid var(--primary-red);
  border-radius: 50%;
} 

.profile-header {
text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img{
    width: 10rem;
  }
  .photo-wrapper {
    padding-bottom:1.25rem;
  }
}

/* Services */
.services {
  text-align: center;
  padding-bottom: 2rem;
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

.services h1 {
  text-transform: uppercase;
  text-decoration: overline;
  color: var(--primary-red);
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background-color: var(--primary-red);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 16rem;
  border-bottom: .625rem solid var(--primary-red);
  border-radius: 10px;
  padding: .625rem;
  margin-bottom: 1.875rem;
  background-color: var(--primary-slate-grey);
  color:var(--primary-dark);
  box-shadow: 10px 10px 5px var(--primary-black);
  transition: 0.3s ease-in-out;
}

.services .box:hover, .box:focus {
  height: 17rem;
  border-bottom: .925rem solid var(--primary-red);
  border-radius: 10px;
  padding: .625rem;
  margin-bottom: 1.875rem;
  background-color: var(--primary-dark-grey);
  color:var(--primary-white);
  box-shadow: 25px 25px 20px var(--primary-black);
  transform: translateY(-0.25em);
  transition: height .25s;

}

.services .box:hover .icon {
  color: var(--primary-black);
  transition: 0.3s ease-in-out;
}

.services .box:hover .circle {
  background-color: var(--primary-white);
  transition: 0.3s ease-in-out;
}

/* Experience */
.experience-wrapper {
  position:absolute;
  padding: 3.125rem;
  overflow:hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: #000000;
}

.marker-right, .marker-left {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-red);
  margin-top: 0.625rem;
  z-index: 3;
}

.marker-left {
  margin-right: auto;
  transform: translateX(-10px);
}

.marker-right {
  margin-left: auto;
  transform: translateX(10px);
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-black);
 
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-hover-red);
  font-weight: 900;
}

/* Media */
@media(max-width:768px) {
  .experience {
    padding: 0.75rem;
  }

  .experience .container {
    padding-left: 0;
  }

  /* .row:nth-child(odd) .col-md-6{
  box-shadow: none;
  border-right: none;
} 

.row:nth-child(even) .col-md-6{
  box-shadow: none;
  border-right: none;
} 

  .marker-left  {
    margin-left: auto;

  }
  .marker-right {
    margin-right: auto;
  } */
}
  
