.contacts {
  background:  var(--primary-dark);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-white);
  padding: 3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

/* Inputs */
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  background: none;
  border: 0;
  border-bottom: 2px solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-red);
  outline: 0!important;
  box-shadow: none!important;
  top: 0;
  margin-bottom: 1rem;
}

.contacts .container {
  padding: 4rem 0;

}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-red);
  border-bottom: 0.125rem solid var(--primary-dark-grey) 
}

.contacts textarea {
  height: 16.8rem!important;
}

.contact-btn {
  margin: 2rem 0 0 0;
  width: 25%; 
}

.line {
  position: relative;
  top: -0.75rem;
  width: 0;
  height: 0.2rem;
  display: inline-block;
  background: var(--primary-red);
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.4rem 0;
}

/* Media */
@media(max-width:768px){
  .contacts {
    overflow-x: hidden;
  }
  .contacts .container {
    padding: 0 1rem;
  }
  .contacts p {
    padding: 0 1rem;
  } 
}

.error-message {
  color: var(--primary-white);
  text-align: left;
  padding-left: .75rem;
  text-transform: capitalize;
}

.success-message {
  color: green;
}